/* .masonry-grid {
    border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
  }
  
  .masonry-grid:not(.color-background-1) {
    border-top: none;
  } */
  
  /* .footer__content-top {
    padding-bottom: 5rem;
    display: block;
  } */